@charset "utf-8";
/* CSS Document */
@media screen and (max-width:1200px){
	.wrap{width:94%;}
	.main{width:71%;}
    .footer-inner{width:100%;text-align:right;}
.main-pic1{float:left;width:32%;}
.main-pic2{float:left;width:32%;margin:0 2%;}
.main-pic3{float:left;width:32%;}
	
	
}


@media screen and (max-width:980px){
	.main{width:100%;}
	.nav{width:310px;margin-left:33%;}
	

}

@media screen and (max-width:768px){
	.nav{width:310px;margin-left:24%;}
	
	
}

@media screen and (max-width:480px){
	.nav{width:310px;margin-left:12%;}
.main-pic1{width:88%;}
.main-pic2{width:88%;margin:7% 0 0 0;}
.main-pic3{width:88%;margin-top:7%;}
.flyanimation1{animation:none;}
.flyanimation2{animation:none;}
.flyanimation3{animation:none;}
.flyanimation4{animation:none;}
.flyanimation5{animation:none;}
.flyanimation6{animation:none;}
.flyanimation7{animation:none;}
.flyanimation8{animation:none;}






}


